/* You can add global styles to this file, and also import other style files */
body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;    
}

div.container-fluid {
    margin-top: 25px;
}

button.btn {
    border-radius: 0px;
}

input.form-control {
    border-radius: 0px;
}

div.card {
    border-radius: 0px;
}