nav.sidebar {
    height: 100%;
    padding: 0px;
}

nav.sidebar > ul {
    margin-top: 20px;
    height: 100%;
}

nav.sidebar > ul > li {
    padding: 5px 10px;
    min-width: 180px;
}

nav.sidebar > ul > li > a {
    color: #ccc;
    font-weight: 300;
}

nav.sidebar > ul > li.active > a {
    color: white;
}

nav.sidebar > ul > li > a:hover {
    color: white;
}

nav.sidebar > ul > li > a > i.fa{
    min-width: 25px;
}